<%- include ("header.ejs") %>
<h3>
<%= exercise.name%> 
<br>
<%=exercise.description%> 
<br>
<%=exercise.tags %>
</h3>
<a href="/exercises/<%= exercise._id %>/edit"><button>Edit this exercise</button></a>
<form action="/exercises/<%= exercise._id %>?_method=DELETE" method="POST">
<input type="submit" value="Delete"/>
  </form>
<img src="<%=exercise.img%>" >


</body>
</html>