<%- include ("header.ejs") %>
<h3>
<%= exercise.name%> 
<br>
<%=exercise.description%> 
<br>
<%=exercise.tags %>
</h3>
<img src="<%=exercise.img%>" >
<!-- <a href="/edit/<%=exercise._id%>"><button>Edit this exercise</button></a>
<a href="/delete/<%=exercise._id%>"><button>Remove this exercise</button></a> -->

<form action="/user/<%= exercise._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete"/>
  </form>

</body>
</html>